html {scroll-behavior: smooth;}
main{font-family:cursive;}
body{background-color: rgb(224, 220, 220);}
.header{    font-family:cursive;
    display: grid ;
    grid-template-columns: auto auto;
    color: white ;
    background-color: black;
    padding-bottom: 10px;
    padding-top : 10px ;}
.logo{    display : flex ;
    padding : 15px ;
    padding-left: 25px ;
    font-size:medium;}
.logo-img{ border-radius: 100px;}
.logo-a{    cursor: alias;
    padding-top : 40px ;
    padding-left : 10px ;
text-decoration: none;
color:white;}
.logo-a:hover{    color: coral;
    border-style:solid;
    border-width:1px;  
    border-top-color:black;
    border-right-color:black;
    border-left-color:black;
    border-bottom-color:coral;}
.nav{    display : flex ;
    justify-content: space-between ;
    padding-right:20px ;
    padding-top:50px ;
    font-size:medium;
    text-transform: uppercase;}
.a-li{color:white;
text-decoration: none;}
.a-li:hover{    color: coral;
    cursor: grab ;
    border-style:solid;
    border-width:1px;  
    border-top-color:black;
    border-right-color:black;
    border-left-color:black;
    border-bottom-color:coral;  }
.nav-li{padding-right: 20px;}
.hero{background-image: url("../assest/hero.jpg");
    height: 500px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;}
.benifit{padding-top : 60px;
    padding-bottom: 60px;   }
.title-benifit{ text-align: center;
font-size:xx-large}
.p-benifit{  font-size:large ;
    padding-top: 50px;
    width: 75%;
    margin: auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5;}
.img-benifit{ 
    display: flex;
justify-content: center;
align-items: center;
    padding-top: 50px;
    }
.div-button{display: flex;
    justify-content: center;
    align-items: center;
padding-top: 30px;}
.button-contact{ font-size: large;
padding : 30px ;
background-color: coral ;
letter-spacing: 3px;
cursor:grab;}
.number{    color : white ;
    text-decoration: none;
    cursor:grab;}
.copyright{color:cornsilk;
    cursor: alias;
    font-size: small;
    padding-top : 40px ;
    padding-left : 10px ;
text-decoration: none;}
footer{    background-color: black;
    padding:20px;}
.div-copy{display: flex;
justify-content: center;
align-items: center;}
.copyright:hover{color: coral;}
.div-social{display: flex;
justify-content: center;
align-items: center;}
.social{padding-left:25px;
width:25px;
height:25px;}



























